---
# for문

In [1]:
# 1 - 10까지의 숫자 출력
for(i in 1:10) {
    print(i)
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6
[1] 7
[1] 8
[1] 9
[1] 10

In [2]:
for(i in 1:3) {
    print(sqrt(i))
}

[1] 1
[1] 1.414214
[1] 1.732051

In [3]:
for(i in c(1,3,5)) {
    print(sqrt(i))
}

[1] 1
[1] 1.732051
[1] 2.236068

In [4]:
# 1-10까지의 제곱근 구하기
for(i in 1:10) {
    print(sqrt(i))
}

[1] 1
[1] 1.414214
[1] 1.732051
[1] 2
[1] 2.236068
[1] 2.44949
[1] 2.645751
[1] 2.828427
[1] 3
[1] 3.162278

In [5]:
for(i in 1:10) {
    cat(i, '=>', sqrt(i), '\n')
}

1 => 1
2 => 1.414214
3 => 1.732051
4 => 2
5 => 2.236068
6 => 2.44949
7 => 2.645751
8 => 2.828427
9 => 3
10 => 3.162278

In [6]:
# excel에서 q3 컬럼 데이터의 홀수의 합과 짝수의 합 구하기
excel <- read.csv("../Data/excel.csv")

sumEven <- 0
sumOdd <- 0
for(i in excel$q3) {
    if(i %%2 == 0) {
        sumEven = sumEven + i
    }else {
        sumOdd = sumOdd + i
    }
}

cat('홀수의 합은', sumOdd, '이고 짝수의 합은', sumEven)

홀수의 합은 604 이고 짝수의 합은 852

In [7]:
# excel에서 q3 컬럼 데이터중 3의 배수의 합계 구하기

sum3 <- 0

for(i in excel$q3) {
    if(i %% 3 == 0){
        sum3 = sum3 + i
    }
}


cat('q3 컬럼의 3의 배수 합게는', sum3)

q3 컬럼의 3의 배수 합게는 216

In [8]:
# excel에서 q3 컬럼 데이터중 3의 배수도 되고 4의 배수도 되는 수의 합계를 구하시오.
sum <- 0
for(i in excel$q3) {
    if( i %% 3 == 0 & i %% 4 == 0)
        sum = sum + i
}

cat('q3 컬럼 데이터중 3의 배수도 되고 4의 배수도 되는 수의 합은', sum)

q3 컬럼 데이터중 3의 배수도 되고 4의 배수도 되는 수의 합은 0

In [9]:
for(i in 1:9) {
    cat('2 X', i, '=', 2*i, '\n')
}

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18

In [10]:
# 사용자로부터 몇단을 출력할지 단수를 입력받아 구구단 출력하기.
dan <- as.integer(readline("단을 입력하세요!"))
for(i in 1:9) {
    cat(dan, 'X', i, '=', dan*i, '\n')  
}

단을 입력하세요!5
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45

In [11]:
# 사용자로부터 몇단을 출력할지 단수를 입력받아 구구단 출력하기.
# for문 결과 벡터저장
num <- c()
dan <- as.integer(readline("단을 입력하세요!"))
for(i in 1:9) {
    cat(dan, 'X', i, '=', dan*i, '\n')  
    num = append(num, dan*i)
}
num

단을 입력하세요!12
12 X 1 = 12
12 X 2 = 24
12 X 3 = 36
12 X 4 = 48
12 X 5 = 60
12 X 6 = 72
12 X 7 = 84
12 X 8 = 96
12 X 9 = 108

[1]  12  24  36  48  60  72  84  96 108

In [12]:
# 구구단 함수 만들기 - 1

gugu <- function() {
    dan <- as.integer(readline("단을 입력하세요!"))
    for(i in 1:9) {
        cat(dan, 'X', i, '=', dan*i, '\n')  
        num = append(num, dan*i)
    }
}

In [13]:
gugu()

단을 입력하세요!12
12 X 1 = 12
12 X 2 = 24
12 X 3 = 36
12 X 4 = 48
12 X 5 = 60
12 X 6 = 72
12 X 7 = 84
12 X 8 = 96
12 X 9 = 108

In [14]:
gugu()

단을 입력하세요!12
12 X 1 = 12
12 X 2 = 24
12 X 3 = 36
12 X 4 = 48
12 X 5 = 60
12 X 6 = 72
12 X 7 = 84
12 X 8 = 96
12 X 9 = 108

In [15]:
 # 구구단 함수 만들기 - 2
gugu <- function(x) {
    for(i in 1:9){
        cat(x, "X", i, "=", x*i, '\n')
    }
}

In [16]:
gugu(5)

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45

In [17]:
# 구구단 함수 만들기 - 3
gugu <- function(x, y) {
    for(i in 1:y){
        cat(x, "X", i, "=", x*i, '\n')
    }
}

In [18]:
gugu(3,12)

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
3 X 10 = 30
3 X 11 = 33
3 X 12 = 36

In [19]:
# 구구단 전체 출력하기
for(i in 2:9) {
    for(j in 1: 9) {
        cat(i, 'X', j, '=', i*j,'\n')
    }
    cat('--------------\n')
}

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
--------------
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
--------------
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
--------------
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
--------------
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
--------------
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
--------------
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
--------------
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81
--------------

In [20]:
for(i in seq(2, 8, 2)) {
    for(j in seq(2, 8, 2)) {
        cat(i, 'X', j, '=', i*j,'\n')
    }
    cat('--------------\n')
}

2 X 2 = 4
2 X 4 = 8
2 X 6 = 12
2 X 8 = 16
--------------
4 X 2 = 8
4 X 4 = 16
4 X 6 = 24
4 X 8 = 32
--------------
6 X 2 = 12
6 X 4 = 24
6 X 6 = 36
6 X 8 = 48
--------------
8 X 2 = 16
8 X 4 = 32
8 X 6 = 48
8 X 8 = 64
--------------

In [21]:
gugu2 <- function(x, y) {
    for(i in seq(x, y, 2)) {
        for(j in seq(x, y, 2)) {
            cat(i, 'X', j, '=', i*j,'\n')
        }
        cat('--------------\n')
    }
}

In [22]:
gugu2(2, 8)

2 X 2 = 4
2 X 4 = 8
2 X 6 = 12
2 X 8 = 16
--------------
4 X 2 = 8
4 X 4 = 16
4 X 6 = 24
4 X 8 = 32
--------------
6 X 2 = 12
6 X 4 = 24
6 X 6 = 36
6 X 8 = 48
--------------
8 X 2 = 16
8 X 4 = 32
8 X 6 = 48
8 X 8 = 64
--------------

In [23]:
# 구구단 for문 하나로 가능??

for(i in seq(2,8,2)) {
    cat(paste(i, 'x', seq(2,8,2), "=", i*seq(2,8,2) ,'\n'), sep="", '----------\n')
}

2 x 2 = 4
2 x 4 = 8
2 x 6 = 12
2 x 8 = 16
----------
4 x 2 = 8
4 x 4 = 16
4 x 6 = 24
4 x 8 = 32
----------
6 x 2 = 12
6 x 4 = 24
6 x 6 = 36
6 x 8 = 48
----------
8 x 2 = 16
8 x 4 = 32
8 x 6 = 48
8 x 8 = 64
----------

In [24]:
for(i in 2:9) {
    cat(paste(i, 'x', 1:9, "=", i*1:9,'\n'), sep="", '----------\n')
}

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
----------
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
----------
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
----------
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
----------
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
----------
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
----------
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
----------
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
----------

In [25]:
# 2개의 벡터 자료를 함계 출력하기
score <- c(85, 95, 89)
name <- c("유비","관우","장비")

for(i in 1:length(score)) {
    cat(name[i], ":", score[i], "\n")
}

for(i in score) {
    cat(name[grep(i, score)], ":", i, '\n')
}

j <- 1
for(i in score) {
    cat(name[j], ":", i, '\n')
    j = j + 1
}

유비 : 85
관우 : 95
장비 : 89
유비 : 85
관우 : 95
장비 : 89
유비 : 85
관우 : 95
장비 : 89

In [26]:
cat(paste(name, ":", score, "\n"), sep="")  # 줄바꿈 문자를 포함시켜야 cat에서 반영됨, sep="" 옵션으로 공백제거

유비 : 85
관우 : 95
장비 : 89

In [27]:
paste(name, ":", score, "\n")[1]

[1] "유비 : 85 \n"

### while

In [28]:
i <- 0
while(i<10){
    i = i + 1
    print(i)
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6
[1] 7
[1] 8
[1] 9
[1] 10

### repeat

In [29]:
i <- 0
repeat{
    i = i + 1
    if(i > 10) {
        break
    }
    print(i)
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6
[1] 7
[1] 8
[1] 9
[1] 10