# 기술 통계량을 계샨하는 함수 정의

In [2]:
test <- read.csv("../Data/test.csv")
head(test)

  A B C D E
1 2 4 4 2 2
2 1 2 2 2 2
3 2 3 4 3 3
4 3 5 5 3 3
5 3 2 4 4 4
6 4 3 3 4 2

In [3]:
tail(test)

    A B C D E
397 2 3 5 2 4
398 4 3 3 2 4
399 2 4 4 2 3
400 2 2 5 2 4
401 2 3 4 2 4
402 2 2 4 2 4

In [5]:
str(test)

'data.frame':	402 obs. of  5 variables:
 $ A: int  2 1 2 3 3 4 3 4 4 4 ...
 $ B: int  4 2 3 5 2 3 4 2 4 2 ...
 $ C: int  4 2 4 5 4 3 4 4 5 4 ...
 $ D: int  2 2 3 3 4 4 2 4 3 2 ...
 $ E: int  2 2 3 3 4 2 2 4 4 3 ...

In [7]:
summary(test)

       A               B               C               D              E
 Min.   :1.000   Min.   :1.000   Min.   :1.000   Min.   :1.00   Min.   :1.000
 1st Qu.:2.000   1st Qu.:2.000   1st Qu.:3.000   1st Qu.:2.00   1st Qu.:3.000
 Median :3.000   Median :3.000   Median :4.000   Median :2.00   Median :4.000
 Mean   :2.734   Mean   :2.908   Mean   :3.622   Mean   :2.51   Mean   :3.386
 3rd Qu.:3.000   3rd Qu.:4.000   3rd Qu.:4.000   3rd Qu.:3.00   3rd Qu.:4.000
 Max.   :5.000   Max.   :5.000   Max.   :5.000   Max.   :4.00   Max.   :5.000

In [10]:
# A 컬럼의 최대값, 최소값, 빈도수 구하기
max(test$A)
min(test$A)
table(test$A)

[1] 5

[1] 1

  1   2   3   4   5
 30 133 156  80   3

In [58]:
# 각 컬럼의 빈도수 구하기
# test[,i]
# ncol(test)

for(i in 1:ncol(test)) {
    cat(colnames(test)[i], "번째 컬럼의 빈도 분석 결과")
    print(table(test[,i]))
    cat('-----------------------\n')
}

A 번째 컬럼의 빈도 분석 결과
  1   2   3   4   5
 30 133 156  80   3
-----------------------
B 번째 컬럼의 빈도 분석 결과
  1   2   3   4   5
 16 150  98 131   7
-----------------------
C 번째 컬럼의 빈도 분석 결과
  1   2   3   4   5
  3  74  72 176  77
-----------------------
D 번째 컬럼의 빈도 분석 결과
  1   2   3   4
 30 178 153  41
-----------------------
E 번째 컬럼의 빈도 분석 결과
  1   2   3   4   5
  8  81 107 160  46
-----------------------

In [76]:
# 각 컬럼 빈도수의 최대값, 최소값 구하기

for(i in 1:ncol(test)) {
    result = table(test[, i])
    cat(i, "번째 컬럼 빈도수의 최대값과 최소값", "\n")
    cat("최대값", max(result), ",", "최소값", min(result), "\n")
    cat('----------------------------\n')
}

1 번째 컬럼 빈도수의 최대값과 최소값
최대값 156 , 최소값 3
----------------------------
2 번째 컬럼 빈도수의 최대값과 최소값
최대값 150 , 최소값 7
----------------------------
3 번째 컬럼 빈도수의 최대값과 최소값
최대값 176 , 최소값 3
----------------------------
4 번째 컬럼 빈도수의 최대값과 최소값
최대값 178 , 최소값 30
----------------------------
5 번째 컬럼 빈도수의 최대값과 최소값
최대값 160 , 최소값 8
----------------------------

In [81]:
# 각 컬럼의 빈도수 구하기와 각 컬럼의 빈도수의 최대값, 최소값 구하는 함수 만들기

tableMinMax <- function(x) {
    for(i in 1:ncol(x)) {
        result = table(x[, i])
        cat(colnames(x)[i], "번째 컬럼 빈도수의 최대값과 최소값", "\n")
        cat("최대값", max(result), ",", "최소값", min(result), "\n")
        cat('----------------------------\n')
        
        cat(colnames(test)[i], "번째 컬럼의 빈도 분석 결과")
        print(table(test[,i]))
        cat('============================\n')
    }
}

In [82]:
tableMinMax(test)

A 번째 컬럼 빈도수의 최대값과 최소값
최대값 156 , 최소값 3
----------------------------
A 번째 컬럼의 빈도 분석 결과
  1   2   3   4   5
 30 133 156  80   3
============================
B 번째 컬럼 빈도수의 최대값과 최소값
최대값 150 , 최소값 7
----------------------------
B 번째 컬럼의 빈도 분석 결과
  1   2   3   4   5
 16 150  98 131   7
============================
C 번째 컬럼 빈도수의 최대값과 최소값
최대값 176 , 최소값 3
----------------------------
C 번째 컬럼의 빈도 분석 결과
  1   2   3   4   5
  3  74  72 176  77
============================
D 번째 컬럼 빈도수의 최대값과 최소값
최대값 178 , 최소값 30
----------------------------
D 번째 컬럼의 빈도 분석 결과
  1   2   3   4
 30 178 153  41
============================
E 번째 컬럼 빈도수의 최대값과 최소값
최대값 160 , 최소값 8
----------------------------
E 번째 컬럼의 빈도 분석 결과
  1   2   3   4   5
  8  81 107 160  46
============================