In [1]:
# Raw 데이터 읽기
trafficAccident2011_2019 <- read.table("../Data/trafficAccident_2011_2019.txt")
head(trafficAccident2011_2019)

  V1   V2       V3       V4     V5    V6    V7    V8    V9    V10   V11   V12
1 기간 자치구별 구분     합계   1월   2월   3월   4월   5월   6월   7월   8월
2 2011 합계     발생건수 40,451 3,038 2,573 3,126 3,450 3,603 3,390 3,529 3,360
3 2011 합계     사망자수 435    36    32    20    44    36    37    36    50
4 2011 합계     부상자수 57,625 4,429 3,734 4,513 4,905 5,036 4,831 5,067 4,823
5 2011 종로구   발생건수 1,421  115   99    116   110   122   116   103   122
6 2011 종로구   사망자수 14     2     -     -     1     -     3     1     1
  V13   V14   V15   V16
1 9월   10월  11월  12월
2 3,433 3,734 3,701 3,514
3 37    25    40    42
4 4,893 5,244 5,150 5,000
5 121   135   140   122
6 2     2     1     1

In [2]:
tail(trafficAccident2011_2019)

    V1   V2     V3       V4    V5  V6  V7  V8  V9  V10 V11 V12 V13 V14 V15 V16
698 2019 송파구 발생건수 2,892 212 193 243 228 277 241 227 247 245 304 260 215
699 2019 송파구 사망자수 13    -   2   -   -   3   -   1   1   -   3   3   -
700 2019 송파구 부상자수 4,003 319 253 336 317 398 311 312 340 341 447 330 299
701 2019 강동구 발생건수 1,414 98  87  122 112 139 123 146 127 98  108 146 108
702 2019 강동구 사망자수 11    1   -   -   -   1   1   2   2   2   1   -   1
703 2019 강동구 부상자수 1,910 115 133 163 153 192 179 189 175 137 144 199 131

In [3]:
str(trafficAccident2011_2019)

'data.frame':	703 obs. of  16 variables:
 $ V1 : Factor w/ 10 levels "2011","2012",..: 10 1 1 1 1 1 1 1 1 1 ...
 $ V2 : Factor w/ 27 levels "강남구","강동구",..: 23 27 27 27 24 24 24 25 25 25 ...
 $ V3 : Factor w/ 4 levels "구분","발생건수",..: 1 2 4 3 2 4 3 2 4 3 ...
 $ V4 : Factor w/ 458 levels "1,017","1,029",..: 458 415 421 436 93 240 235 116 239 253 ...
 $ V5 : Factor w/ 213 levels "-","1","100",..: 93 138 158 166 18 94 63 11 1 57 ...
 $ V6 : Factor w/ 209 levels "-","1","100",..: 138 96 149 143 209 1 38 196 1 15 ...
 $ V7 : Factor w/ 219 levels "-","1","100",..: 169 146 100 174 19 1 65 44 1 85 ...
 $ V8 : Factor w/ 221 levels "-","1","100",..: 194 150 189 182 12 2 56 30 144 77 ...
 $ V9 : Factor w/ 223 levels "-","1","100",..: 200 154 176 196 24 1 57 23 2 63 ...
 $ V10: Factor w/ 222 levels "-","1","100",..: 199 151 172 179 18 146 65 17 2 58 ...
 $ V11: Factor w/ 225 levels "-","1","100",..: 205 149 171 190 6 2 58 22 2 58 ...
 $ V12: Factor w/ 218 levels "-","1","100",..: 208 148 187 175 25 2 72 20 2 56 ...
 $ V13: Factor w/ 221 levels "-","1","10","100",..: 221 154 175 186 25 99 69 43 2 82 ...
 $ V14: Factor w/ 223 levels "-","1","100",..: 12 154 129 198 33 90 85 45 90 94 ...
 $ V15: Factor w/ 234 levels "-","1","100",..: 21 158 191 203 43 2 101 34 150 74 ...
 $ V16: Factor w/ 230 levels "-","1","100",..: 33 152 189 195 25 2 72 46 1 107 ...

In [4]:
# 일부 제거하여 전달
tracc <- trafficAccident2011_2019[5:nrow(trafficAccident2011_2019),-4]

In [5]:
head(tracc)

   V1   V2     V3       V5  V6  V7  V8  V9  V10 V11 V12 V13 V14 V15 V16
5  2011 종로구 발생건수 115 99  116 110 122 116 103 122 121 135 140 122
6  2011 종로구 사망자수 2   -   -   1   -   3   1   1   2   2   1   1
7  2011 종로구 부상자수 165 134 162 153 157 163 154 171 166 193 204 172
8  2011 중구   발생건수 108 86  141 128 121 115 119 117 140 147 132 143
9  2011 중구   사망자수 -   -   -   3   1   1   1   1   1   2   3   -
10 2011 중구   부상자수 159 112 183 175 165 156 154 154 181 203 172 211

In [6]:
# column name 정리
colnames(tracc) <- c("년도", "자치구", "구분", paste("v", c(1:12), sep=""))

In [7]:
# 합계 부분 제거
idx <- c()
for(i in 1:nrow(tracc)){
    if(tracc$자치구[i]=='합계') {
        idx <- append(idx, i)
    }
}
tracc <- tracc[-idx,]
rownames(tracc) <- c()

In [8]:
head(tracc)

  년도 자치구 구분     v1  v2  v3  v4  v5  v6  v7  v8  v9  v10 v11 v12
1 2011 종로구 발생건수 115 99  116 110 122 116 103 122 121 135 140 122
2 2011 종로구 사망자수 2   -   -   1   -   3   1   1   2   2   1   1
3 2011 종로구 부상자수 165 134 162 153 157 163 154 171 166 193 204 172
4 2011 중구   발생건수 108 86  141 128 121 115 119 117 140 147 132 143
5 2011 중구   사망자수 -   -   -   3   1   1   1   1   1   2   3   -
6 2011 중구   부상자수 159 112 183 175 165 156 154 154 181 203 172 211

In [9]:
# '-'을 0으로 변경

for(i in 4:ncol(tracc)){
    tracc[,i] <- as.character(tracc[,i])
    for(j in 1: nrow(tracc)) {
        if(tracc[j, i] == '-')
            tracc[j,i] = '0'
    }
}

In [10]:
head(tracc)

  년도 자치구 구분     v1  v2  v3  v4  v5  v6  v7  v8  v9  v10 v11 v12
1 2011 종로구 발생건수 115 99  116 110 122 116 103 122 121 135 140 122
2 2011 종로구 사망자수 2   0   0   1   0   3   1   1   2   2   1   1
3 2011 종로구 부상자수 165 134 162 153 157 163 154 171 166 193 204 172
4 2011 중구   발생건수 108 86  141 128 121 115 119 117 140 147 132 143
5 2011 중구   사망자수 0   0   0   3   1   1   1   1   1   2   3   0
6 2011 중구   부상자수 159 112 183 175 165 156 154 154 181 203 172 211

In [11]:
# 원하는 형태의 테이블로 데이터 정제

tracc$년도 <- as.character(tracc$년도)
tracc$자치구 <- as.character(tracc$자치구)

n1 <- seq(1, nrow(tracc), 3)
tb <- c()

for(i in 1:floor(nrow(tracc)/3)){
    x <- n1[i]   
    for(j in 1:12) {
        tb <- rbind(tb,c(tracc$년도[x], j, tracc[x, 2],tracc[x, j+3], tracc[x+2, j+3], tracc[x+1, j+3]))
    }
}

In [12]:
colnames(tb) <- c("년도","월", "자치구", "발생건수", "부상장수", "사망자수")
head(tb)
str(tb)

     년도 월 자치구 발생건수 부상장수 사망자수
[1,] 2011 1  종로구 115      165      2
[2,] 2011 2  종로구 99       134      0
[3,] 2011 3  종로구 116      162      0
[4,] 2011 4  종로구 110      153      1
[5,] 2011 5  종로구 122      157      0
[6,] 2011 6  종로구 116      163      3

 chr [1:2700, 1:6] "2011" "2011" "2011" "2011" "2011" "2011" "2011" "2011" ...
 - attr(*, "dimnames")=List of 2
  ..$ : NULL
  ..$ : chr [1:6] "년도" "월" "자치구" "발생건수" ...

In [13]:
tacc <- data.frame('년도' = as.integer(tb[,1]), '월'= as.integer(tb[,2]), '자치구'= as.factor(tb[,3]), 
               '발생건수'= as.integer(tb[,4]), '부상자수'=as.integer(tb[,5]), '사상자수'= as.integer(tb[,6]))
head(tacc)
str(tacc)

  년도 월 자치구 발생건수 부상자수 사상자수
1 2011 1  종로구 115      165      2
2 2011 2  종로구  99      134      0
3 2011 3  종로구 116      162      0
4 2011 4  종로구 110      153      1
5 2011 5  종로구 122      157      0
6 2011 6  종로구 116      163      3

'data.frame':	2700 obs. of  6 variables:
 $ 년도    : int  2011 2011 2011 2011 2011 2011 2011 2011 2011 2011 ...
 $ 월      : int  1 2 3 4 5 6 7 8 9 10 ...
 $ 자치구  : Factor w/ 25 levels "강남구","강동구",..: 23 23 23 23 23 23 23 23 23 23 ...
 $ 발생건수: int  115 99 116 110 122 116 103 122 121 135 ...
 $ 부상자수: int  165 134 162 153 157 163 154 171 166 193 ...
 $ 사상자수: int  2 0 0 1 0 3 1 1 2 2 ...